
<div class="section">
    <div class="container">
        <div class="row">
            <div>
                <button class="btn btn-primary" ui-sref="menu.book">Add</button>
            </div>
            <table  object-table
                    data = "books"
                    display = "10"
                    headers = "Name ,Author, Availability,Status,Action"
                    fields = "name,author,availability,active"
                    sorting = "compound"
                    editable = "false"
                    resize="false"
                    drag-columns="false">

                <tbody>
                <tr>
                    <td>{{item.name}}</td>
                    <td>{{item.author}}</td>
                    <td>
                        <span ng-show="item.availability"><p>Availability</p></span>
                        <span ng-show="!item.availability"><p>UnAvailability</p></span>
                    </td>
                    <td>
                        <span ng-show="item.active"><p>Active</p></span>
                        <span ng-show="!item.active"><p>InActive</p></span>
                    </td>
                    <td>
                        <button ng-show="item.active" class="btn btn-sm btn-primary" ng-click="$owner.editBook(item)">Edit</button>
                        <button ng-show="!item.active" class="btn btn-sm btn-success" ng-click="$owner.changeStatus(item,'active')">Active</button>
                        <button ng-show="item.active" class="btn btn-sm btn-danger" ng-click="$owner.changeStatus(item,'inactive')">InActive</button>
                    </td>
                </tr>
                </tbody>
                
            </table>
        </div>
    </div>
</div>

